body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex:1;
}

/* navabar styling */
    .navbar-brand{
        font-size: 2rem;
        color: #fe424d;
    }

    .navbar{
        height: 4.5rem;
    }

    .nav-link{
        color: #222222 ;
    }
/* footer styling */
    .footer{
        text-align: center;
        background-color: #ebebeb;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .f-links a{
        text-decoration: none ;
        color: black;
        font-weight: 600;
    } 

    .f-links{
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .f-socials{
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-top: 1rem;
        cursor: pointer ;
    }

    .f-socials a{
        color: black;
    }

    .footer_boxes {
        display: flex;
        justify-content: space-between;
        background-color: #f7f7f7;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin-top: 40px;
    }
    .footer_box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;
        margin-left: 30px;
    }
    
    .footer_box b {
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .footer_box a {
        display: block;
        color: #222222;
        text-decoration: none;
        margin-bottom: 5px;
        font-size:.8rem;

    }
    .footer_box a:hover {
        text-decoration: underline;
    }

/* all_listing_in_card_form */

    .all_cards{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
    }

    .card-link{
        text-decoration: none !important;
    }

    .card-body{
        padding: .4rem;
        margin-bottom: 3rem;
    }
    .card-img-top{
        height: 18rem;
        width: 100%;
        border-radius: 2rem;
    }

    .card-img-overlay{
        border-radius: 1rem;
    }
    .card-img-overlay:hover{
        background-color: rgb(176, 165, 165);
        opacity: 0.1;
    }
    
    .card{
        border: none;
        border-radius: 2remc;
    }


/* new listing style */
    .btn{
        margin-top: .6rem;
    }