<div class="footer_boxes">
    <div class="footer_box">
        <b>Support</b>
        <a href="/listings">Help Centre</a>
        <a href="/listings">Get help with a safety issue</a>
        <a href="/listings">AirCover</a>
        <a href="/listings">Anti-discrimination</a>
        <a href="/listings">Disability support</a>
        <a href="/listings">Cancellation options</a>
        <a href="/listings">Report neighbourhood concern</a>
    </div>
    <div class="footer_box">
        <b>Hosting</b>
        <a href="/listings">Airbnb your home</a>
        <a href="/listings">AirCover for Hosts</a>
        <a href="/listings">Hosting resources</a>
        <a href="/listings">Community forum</a>
        <a href="/listings">Hosting responsibly</a>
        <a href="/listings">Join a free Hosting class</a>
        <a href="/listings">Find a co-host</a>
    </div>
    <div class="footer_box">
        <b>Airbnb</b>
        <a href="/listings">Newsroom</a>
        <a href="/listings">New features</a>
        <a href="/listings">Careers</a>
        <a href="/listings">Investors</a>
        <a href="/listings">Airbnb.org emergency stays</a>
    </div>
</div>
<footer>
    <div class="footer-links">
        <div class="footer-link">
            
        </div>
        <div class="footer-link"></div>
        <div class="footer-link"></div>
        <div class="footer-link"></div>
    </div>
    <div class="footer">
        <div class="f-socials">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="f-info"><i class="fa-regular fa-copyright"></i>  wanderlust Private Limited</div>
        <div class=f-links>
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>



